<label for="dd">Study : </label>
<ng-select style="min-width: 50vw;" class="mt-2" id="dd" name="dd" [(ngModel)]="selectedConnector">
    <ng-option *ngFor="let con of connectorNames" [value]="con">{{ con }}</ng-option>
</ng-select>
<div class="d-flex justify-content-around mt-2" style="min-width: 50vw;">
    <button (click)="go()">Go !</button>
    <button (click)="seeDetail()">See list</button>
    <button (click)="clear()">Clear</button>
</div>

<div class="d-flex flex-column">
    <app-element *ngFor="let q of questions" [entry]="q" (answered)="next()"></app-element>
</div>

<div *ngIf="secondsPassed" class="mt-5">
    Congratulations !
    You made it in {{ secondsPassed }} seconds
</div>

<app-detail *ngIf="detailOpened" [connector]="selectedConn"></app-detail>